:root {
    --cor_fundo: #F8F4E3;
    --cor_letra: #102538;
    --cor_div: #3498DB;
    --cor_botao: #0878ff;
}

h1 {
    font-size: 35px;
    text-align: center;
    color: var(--cor_letra);
}

.prin {
    background-color: #102538;
    color: var(--cor_letra);
    border-radius: 30px;
    text-align: center;
    height: 600px;
}

.botao {
    background-color: var(--cor_botao);
    color: var(--cor_letra);
    width: 438px;
    height: 40px;
}

body {
    background-color: var(--cor_fundo);
}

.botao:first-child {
    border-radius: 30px 0 0 0;
}

.botao:last-child {
    border-radius: 0 30px 0 0;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    .prin {
        height: auto;
    }

    .botao {
        width: 100%;
        border-radius: 30px;
    }
}

.acionado {
    background-color:var(--cor_div);
    color: #F8F4E3;
}

.container{
    display: flex;
    justify-content: center;

}
